body{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 100;
  font-style: normal;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #27323A;
}


#navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  width: 100vw;
  height: 100px;
  margin-bottom: 2rem;
}

#volume{
  margin-left: 3rem;
}

#login{
  margin-right: 3rem;
}


#title{
  font-size: 82px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;

}

#main-button{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: #435055;
  width: 100vw;
}

/*i want the button to be in the middle of the div #main-button*/

#main-button button{
  margin: 0 auto;
  width: 40vw;
  height: 75vh ;
}